:root {
    --black-button-color: black;
    --black-button-hover-color: #282828;
    --white-button-hover-color: #F3F3F3;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family: "Rubik", sans-serif;
}

/* Utility classes  */

.pointer {
    cursor: pointer;
}

.underline {
    text-decoration: underline;
} 

/* Off screen menu */

.off-screen-menu {
    padding: 1.5rem;

    height: 100vh;
    width: 100%;
    max-width: 15rem;
    
    position: fixed;
    top: 0;
    right: -450px;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    z-index: 1000;
}

.off-screen-menu-actions {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.off-screen-menu-register,
.off-screen-menu-log-in {
    padding: 0.8rem 0;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
}

.off-screen-menu-register {
    color: white;
    background-color: var(--black-button-color);
}

.off-screen-menu-register:hover {
    background-color: var(--black-button-hover-color);
}

.off-screen-menu-log-in:hover {
    background-color: var(--white-button-hover-color);
}

.off-screen-menu-list {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style-type: none;
}

.off-screen-menu-list-link {
    text-decoration: none;
}

.off-screen-menu-list-item {
    font-size: 0.8rem;
    color: black;
    text-decoration: none;
}

.off-screen-menu.active {
    left: 0;
    background-color: white;
}

/* Off screen menu footer */

.off-screen-menu-footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.off-screen-menu-footer-app > img {
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
}

.off-screen-menu-footer-app {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 0.75rem;
}

.off-screen-menu-footer-title {
    font-size: 0.8rem;
    font-weight: 400;
}

.off-screen-menu-footer-download-button {
    width: 8.5rem;
    padding: 0.5rem 0;

    display: flex;
    gap: 0.3rem;
    justify-content: center;

    font-size: 0.55rem;
    font-weight: 600;

    border: none;
    border-radius: 1rem;
}

/* Navbar */

.nav {
    height: 3.2rem;
    padding: 0.3rem 0.6rem;

    display: flex;
    gap: 0.8rem;
    align-items: center;
  
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    
    background-color: transparent;
    z-index: 1;

/* Hamburger menu */

.nav-ham-menu {
    width: 2.5rem;
    height: 2.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.nav-ham-menu > div {
    width: 1rem;
    height: 0.15rem;
    border-radius: 0.5rem;
    background-color: #282828;
}

.nav-ham-menu:hover {
    border-radius: 50%;
    background-color: var(--white-button-hover-color);
}

.show-on-big-screen {
    display: none;
}

/* Logo uber eats */

.nav-logo {
    min-width: 4rem;
    display: flex;
    gap: 0.25rem;
    margin-right: auto;
}

.nav-logo-bold {
    font-weight: 600;
}

/* Nav buttons */

.nav-user-log-in-icon {
    padding: 0.35rem 0.45rem;
    border-radius: 50%;
    background-color: white;
}

.nav-button {
    height: 1.8rem;
    width: 110px;

    font-weight: 600;
    font-size: 0.6rem;

    border-radius: 0.8rem;
    border: none;
}

.nav-register-button {
    color: white;
    background-color: var(--black-button-color);
}

.nav-register-button:hover {
    background-color: var(--black-button-hover-color);
}

/* Hero section */

/* Form */

.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.hero {
    width: 100%;
    height: 100vh;

    padding: 7rem 1rem;

    background-image: url("./images/hero-section-image.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero-title {
    font-weight: 500;
}

.hero-subsection {
    padding: 0.5rem 0.75rem;
    height: 56px;

    display: flex;
    align-items: center;
    gap: 0.5rem;
    
    background-color: white;
}

.hero-address-input {
    width: 100%;
    font-size: 0.8rem;
    border: none;
}

.hero-delivery-option {
    width: 100%;
    font-size: 0.8rem;
    border: none;
    background-color: transparent;
}

.hero-address-input:focus {
    outline: none;
}

.hero-search-restaurant-button {
    padding: 0.6rem 0.8rem;
    height: 56px;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: black;
}

.hero-search-restaurant-button:hover {
    background-color: var(--black-button-hover-color);
}

.hero-paragraph {
    font-size: 0.8rem;
}

.hero-paragraph-link {
    color: black;
}

/* Subhero section */

.subhero {
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
}

.subhero-download-app {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.9rem;
}

.subhero-download-image {
    width: 3rem;
    height: 3rem;
    border-radius: 10px;
}

.subhero-download-button {
    margin-bottom: 2rem;
    padding: 0.6rem 0.8rem;
    
    width: 100%;
    height: 56px;
    
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    align-items: center;

    font-size: 1rem;
    
    border-radius: 10px;
    border: none;
}

.subhero-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.subhero-container-link {
    text-decoration: none;
}

.subhero-container-item {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.subhero-container-item > h3 {
    text-decoration: none;
    font-weight: 500;
}

.subhero-container-item > a {
    color: black;
}

.subhero-image {
    width: 100%;
}

/* Cities */

.cities {
    padding: 0 1rem 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cities-iframe {
    width: 100%;
    height: 450px;
    border: none;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cities-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 0.8rem;
    font-size: 0.8rem;
}

.cities-list > a {
    color: black;
    text-decoration: none;
}

.cities-link {
    font-size: 0.8rem;
    color: black;
}

/* Countries */

.countries {
    padding: 0 1rem 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.countries-list {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem 0;
    font-size: 0.8rem;
}

.countries-list > a {
    color: black;
    text-decoration: none;
}

.countries-all-cities {
    color: black;
    font-size: 0.8rem;
}

.countries-info {
    font-size: 0.8rem;
    color: grey;
}

.countries-info-link {
    color: grey;
}


/* Footer */

.line {
    width: 100%;
    height: 1px;
    background-color: rgb(230, 229, 229);
}

.footer {
    padding: 1rem;
}

.footer-app-store-image,
.footer-google-play-image {
    width: 130px;
    height: 40px;
    border-radius: 5px;
    margin: 1rem 0;
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    padding: 0 0 1rem 0;
}

.footer-info-first,
.footer-info-second  {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-info-first > a,
.footer-info-second > a {
    font-size: 0.8rem;
    color: grey;
    text-decoration: none;
    font-size: 0.6rem;
}

.footer-info-second-language {
    display: flex;
    gap: 0.4rem;
}

.footer-essentials {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1rem 0;
    color: grey;
    font-size: 0.6rem;
}

.footer-essentials > a {
    color: grey;
    text-decoration: none;
}

.footer-essentials-social-media {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.logo-footer {
    font-size: 1.5rem;
}

.footer-essentials-copyright {
    display: flex;
    color: grey;
    font-size: 0.6rem;
}

/* Computer screen */

@media (min-width: 1200px) {

    /* Hide user icon on a computer screen */

    .hide-on-bigger-screen {
        display: none;
    }
    
    /* Show log in button on a mobile screen */
    
    .show-on-big-screen {
        display: inline;
    }


    /* Nav bigger screen  */
    
    .nav {
        padding: 0 1.5rem;
        gap: 0.3rem;
    }

    .nav-log-in-button {
        color: black;
        background-color: white;
    }

    .nav-log-in-button:hover {
        background-color: var(--white-button-hover-color);
    }

    /* Hero bigger screen */

    .hero {
        padding: 0 2rem;
        display: flex;
        justify-content: center;
        height: 100vh;
    }
    
    .hero-title {
        font-size: 2.3rem;
    }
    
    .form {
        width: 1050px;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 1rem;
    }

    .hero-address-input {
        width: 500px;
    }

    .hero-delivery-option {
        width: 150px;
    }

    .hero-search-restaurant-button {
        display: block;
    }

    /* Subhero */

    .subhero-download-app {
        display: none;
    }

    .subhero-download-button {
        display: none;
    }

    .subhero {
        padding: 0 0;
    }
    
    .subhero-container {
        padding: 4rem 0;
        gap: 0;
        flex-direction: row;
    }

    .subhero-container-item {
        margin-right: 1rem;
    }

    /* Cities */

    .cities {
        padding: 0 1.5rem 1.5rem 1.5rem;
    }

    .cities-link {
        display: none;
    }

    .cities-list {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 1.5rem 0 ;
      }
    
    .countries {
        padding: 0 1.5rem 1.5rem 1.5rem;
    }

    .countries-list {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem 0;
    }

    .countries-all-cities {
        position: absolute;
        right: 1.8rem;
    }

    .countries-info {
        align-self: center;
        color: black;
    }

    .countries-info > a {
        color: black;
    }

    /* Footer */
    
    .line {
        grid-column: 1 / -1;
    }

    .footer {
        padding: 4rem 0;
        width: 1280px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .footer-download-buttons {
        color: black;
        grid-column: 1;
        align-self: flex-end;
    }

    .footer-info {
        width: 600px;
        flex-direction: row;
        justify-content: center;
        grid-column: 3;
    }

    .footer-info-first > a,
    .footer-info-second > a{
        color: black;
        font-size: 0.8rem;
    }
    .footer-info-first > a:hover, 
    .footer-info-second > a:hover,
    .footer-essentials > a:hover {
        text-decoration: underline;
    } 

    .footer-essentials {
        grid-column: 1 / -1;
        flex-direction: row;
        justify-content: center;
    }
    
    .footer-essentials-social-media {
        color: black;
        font-size: 1rem;
        gap: 1.5rem;
    }

    .footer-essentials > a {
        color: black;
        font-size: 0.8rem;
    }

    .footer-essentials-copyright {
        grid-column: 1 / -1;
        justify-content: center;
        gap: 1rem;
        color: black;
    }
}